<%- include('includes/header'); -%>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body class="bg-dark">
        <section>
            <% if(user && user.id){ %>
                <div style="display: flex; flex-wrap: wrap; justify-content: center">
                    <% user.guilds.filter(guild=>{
                        const permsOnGuild = new Permissions(guild.permissions_new);
                        if(permsOnGuild.has(Permissions.Flags.ManageGuild)) return guild;
                    }).sort((a, b) => {
                        return (bot.guilds.cache.get(a.id) == bot.guilds.cache.get(b.id)) ? 0 : a ? -1 : 1;
                    }).forEach(guild => {
                    %>
                        <center>
                        <div class="w-full text-white bg-blue-800 rounded-lg mb-3">
                            <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top object-cover" style="max-width: 255px;width: 255px;">` : `<img src="https://cdn.discordapp.com/attachments/765919453766352916/877787616974622770/wCfHtuoejLIbAAAAABJRU5ErkJggg.png" class="card-img-top object-cover" style="max-width: 250px;width: 250px;">` %>
                               <div class="card-img-overlay text-grey h-100 rounded-lg flex flex-col justify-end" style="background: #000000b0;max-width: 250px;width: 250px;">
                         <br>
                                <h5 class="pl-2 card-title text-center text-sm md:text-md text-white" style="font-size: 25px;"><%= guild.name %></h5>
                                <% if(bot.guilds.cache.get(guild.id)){ %>
                                    <p class="pt-2 card-text" style="font-size: 12px;font-style:italic;color: #b3b3b3">Edit <b><%= guild.name %></b>'s Settings via the Dashboard by clicking the Button below!</p>
                                 <center>   <a data-theme="night" style="font-size: 25px" href="/dashboard/<%- guild.id %>"
                                        class="mt-auto btn btn-lg btn-block btn-warning">Edit</a></center>
                                <% }else {  %>
                                    <p class="pt-2 card-text" style="font-size: 12px;font-style:italic;color: #b3b3b3">Invite me to <b><%= guild.name %></b>to be able to manage me!</p>
                                    <a style="font-size: 25px" 
                                    href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot%20applications.commands&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(`http://localhost:8080/login/discord`)}`  %>"
                                    data-theme="night"    class="mt-auto btn btn-lg btn-block ">Invite me!</a>
                                <% } %>
                            </div> 
                        </div>
                    <% }) %>
                </div>
                    </center>
            <% }else {  %>
                    <p>Please login First!</p>

            <%  } %>
        </section>
        <%- include('includes/footer'); -%>
    </body>
</html>
